.about-main{
    margin-left: 3.5rem;
    margin-right: 3.5rem ;
    max-width: 1024px;
    height:100%;
}
.ab-heading{
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 900;
    color:rgb(68, 5, 43);
    margin-top: 15px;}

.para{
        margin-top: 0.75rem;
        line-height: 1.25rem;
        font-size: 17px;
        color: rgb(80, 73, 73);
}
.para2{
    margin-top: 0.75rem;
    font-size: 17px;
margin-top: 7px;
margin-bottom: 15px;
color: rgb(80, 73, 73);}

.ab-heading2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 700;
    color:rgb(68, 5, 43); 
    margin-top: 15px;
}
.ab-heading3{
font-weight: 600;
font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 0.75rem ;
    color:rgb(82, 6, 50);}
    .ab-para{
        color:rgb(130, 8, 79);
        font-size: 1.25rem;
    line-height: 1.75rem; 
    letter-spacing: 0.1em;
    font-weight: 600;
} 
    

@media (min-width: 640px) {
    .ab-heading{
        font-size: 3rem;
        line-height: 1;
    }
}